<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"     
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"     
       xmlns:context="http://www.springframework.org/schema/context"     
       xsi:schemaLocation="
   	   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd   
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd   
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd" default-autowire="byName">
		
	   <bean id="messageSender" class="com.doorcii.messagecenter.httpcore.MessageHttpCoreImpl" init-method="init">
	   		<property name="config">
	   			<bean class="com.doorcii.messagecenter.beans.MessageConfig">
		   	 		<constructor-arg name="url" value="http://${message.ipaddress}:${message.port}/ums/no"></constructor-arg>
			   	 	<constructor-arg name="userId" value="${message.user}"></constructor-arg>
			   	 	<constructor-arg name="validateCode" value="${message.code}"></constructor-arg>
			   	 	<constructor-arg name="serviceType" value="${message.servicetype}"></constructor-arg>
			   </bean>
	   		</property>
	   </bean>
	   
	   <bean id="userService" class="com.doorcii.messagecenter.service.UserServiceImpl" ></bean>
	   <bean id="templateService" class="com.doorcii.messagecenter.service.TemplateServiceImpl" ></bean>
	   <bean id="messageService" class="com.doorcii.messagecenter.service.MessageServiceImpl" ></bean>
	   <bean id="messageValidateService" class="com.doorcii.messagecenter.service.MessageValidateServiceImpl" ></bean>
	   <bean id="iPValidator" class="com.doorcii.messagecenter.service.IPValidator" >
	   		<property name="ipAddress" value="${message.ipaddress}"></property>
	   </bean>
	   <bean id="categoryDAO" class="com.doorcii.messagecenter.ibatis.CategoryDAOImpl" ></bean>
</beans>