<html>
<head>
	#set($layout="layout/empty.vm")
	#include("resource.vm")
</head>
<body class="easyui-layout">
	 <div class="ui-search-panel" region="north" style="height: 80px;" title="Search box" data-options="striped: true,collapsible:false,iconCls:'icon-search',border:false" >  
	 <form id="searchForm">
	 	<p class="ui-fields">
	       <label class="ui-label">科室名称:</label> 
	       <input name="categoryName" class="easyui-box ui-text" style="width:100px;">
	    </p>
	    <a href="#" id="btn-search" class="easyui-linkbutton" iconCls="icon-search">Search</a>
	  </form>  
	 </div> 
	 <!--  Search panel end -->
	 
	 <!-- DataList  -->
	 <div region="center" border="false" >
	 <table id="data-list"></table>
	 </div>
	
	 <!-- Edit Win&Form -->
	 <div id="edit-win" class="easyui-dialog" title="Edit" data-options="closed:true,iconCls:'icon-save',modal:true" style="width:400px;height:300px;">  
	 	<form id="editForm" class="ui-form" method="post">  
	 		  <input class="hidden" type="text" name="id">
	 		  <div class="ui-edit">
		     	   <div class="ftitle">Information</div>    
		           <div class="fitem">  
		               <label>科室名称:</label>  
		               <input type="text"  name="categoryName" data-options="required:true'"></input>
		           </div> 
		           <div class="fitem">  
		               <label>登陆密码:</label>  
		               <input type="text"  name="password" data-options="required:true'"></input>
		           </div> 
		           <div class="fitem">  
		               <label>重复密码:</label>  
		               <input type="text"  name="confirmPassword" data-options="required:true'"></input>
		           </div> 
	         </div>
	 	</form>
	 </div> 
	<script type="text/javascript" src="/js/ux/sys/sysUserRole.js"></script>
	</body>
</html>